<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title or renderData.title | safe }}</title>
</head>
<body>

  <div class="container">
    {{ content | safe }}
  </div>

</body>
</html>
